body{
    font-family: Arial, sans-serif;
    margin:0;
    background-color:#f4f4f4;
    text-align:center;
}

header{
    background-color:#0099cc;
    color:white;
    padding:20px;
}

.banner{
    margin:30px;
}

.banner img{
    width:350px;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

.conteudo{
    max-width:800px;
    margin:auto;
    padding:20px;
    background:white;
    border-radius:10px;
}

footer{
    margin-top:40px;
    padding:15px;
    background:#222;
    color:white;
}

ul {
    /* list-style: none; Remove as bolinhas */
    padding: 0;
    text-align: left;  /* Alinha a lista à esquerda para ficar mais organizado */
    margin: 20px auto;
    display: inline-block; */
}